
 <!-- Start Page Banner -->
 <div class="page-banner-area">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="page-banner-content">
                  <h2>Shop List</h2>
                  <ul>
                      <li>
                          <a [routerLink]="['']">Home</a>
                      </li>
                      <li>Shop List</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Page Banner -->

<!-- Start Top Products Area -->
<section class="top-products-area pt-100 pb-100">
  <div class="container">

      <!-- <div class="orgo-grid-sorting row align-items-center">
          <div class="col-lg-6 col-md-6 result-count">
              <p>We found <span class="count">10</span> products available for you</p>
          </div>
         
          <div class="col-lg-6 col-md-6 ordering">
              <div class="select-box">
                  <label>Sort By:</label>
                  <select>
                      <option>Default</option>
                      <option>Popularity</option>
                      <option>Latest</option>
                      <option>Price: low to high</option>
                      <option>Price: high to low</option>
                  </select>
                 

              </div>
          </div>
      </div> -->


      <!-- <ng-select [items]="pageSizes" 
           bindLabel="name" 
           bindValue="id" 
           [(ngModel)]="pageSize">
        </ng-select> -->
           


      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
     

      <div class="row">
          <div class="col-lg-3 col-md-6" *ngFor="let item of products | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          }"
               >

              <div class="top-products-item">
                  <div class="products-image">
                      <a [routerLink]="['/products/details/', item.id]">
                        <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="image">
                    </a>

                      <ul class="products-action">
                        <li>
                            <button
                            (click)="addToCart(item.id)" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="bx bx-cart"></i></button>
                        </li>
                      </ul>

                      <!-- <div class="sale">
                          <span>Sale</span>
                      </div> -->
                  </div>

                  <div class="products-content">
                      <h3>
                          <a [routerLink]="['/products/details/', item.id]">{{item.name}}</a>
                      </h3>
                      <div class="price">
                          <span class="new-price">${{item.price}}</span>
                          <!-- <span class="old-price">$125.00</span> -->
                      </div>
                      <ul class="rating">
                          <li>
                              <i class='bx bxs-star'></i>
                              <i class='bx bxs-star'></i>
                              <i class='bx bxs-star'></i>
                              <i class='bx bxs-star'></i>
                              <i class='bx bx-star'></i>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
            <pagination-controls class="my-pagination"
              previousLabel=""
              nextLabel=""
              [responsive]="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>
      </div>
  </div>
<!-- End Top Products Area -->