<!-- Start Main Banner Area -->
<div class="main-banner">
    <div class="main-banner-item">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <span>Take Natural Taste From Our Shop</span>
                        <h1>Organic Food Is Good For Health</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
                        <div class="banner-btn">
                            <!-- <a href="shop-1.html" class="default-btn">Our Shop</a> -->
                            <a [routerLink]="['/products']" class="optional-btn">Our Shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->

<!-- Start Special Features Area -->
<section class="special-features-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Special Features</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-special-features">
                    <div class="image">
                        <img src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="image">
                    </div>

                    <div class="content">
                        <h3>Fresh Organic Food Provides</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                        <a href="#" class="read-btn">Read More +</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-special-features">
                    <div class="image">
                        <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple114/v4/2c/c3/e3/2cc3e3c6-e556-ebea-500a-8ec5849fde54/source/512x512bb.jpg" alt="image">
                    </div>

                    <div class="content">
                        <h3>Fast & Easy Food Delivery</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                        <a href="#" class="read-btn">Read More +</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-special-features">
                    <div class="image">
                        <img src="https://images.unsplash.com/photo-1587906697341-bfbde76785c7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=926&q=80" alt="image">
                    </div>

                    <div class="content">
                        <h3>Very Easy Payment System</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt</p>
                        <a href="#" class="read-btn">Read More +</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Special Features Area -->

<!-- Start Top Products Area -->
<section class="top-products-area pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Trending Products</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse</p>
        </div>

        <div class="row" >

            <div class="col-lg-3 col-md-6" *ngFor="let item of products; index as i">
                <div class="top-products-item">
                    <div class="products-image">
                        <a [routerLink]="['/products/details/', item.id]">
                            <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="image"></a>

                        <ul class="products-action">
                            <li>
                                <button
                                (click)="addToCart(item.id)" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="bx bx-cart"></i></button>
                            </li>
                        </ul>

                        <div class="sale">
                            <span>Sale</span>
                        </div>
                    </div>

                    <div class="products-content">
                        <h3>
                            <a [routerLink]="['/products/details/', item.id]">{{item.name}}</a>
                        </h3>
                        <div class="price">
                            <span class="new-price">${{item.price}}</span>
                            <!-- <span class="old-price">$125.00</span> -->
                        </div>
                        <ul class="rating">
                            <li>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bx-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>          
            
        </div>
    </div>
</section>
<!-- End Top Products Area -->